body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: 600;
}


header {
	font-size: 30px;
	font-weight: 900;
}

.fixed_width {
	font-family: courier;
}

/*
#mainContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	background-color: #EEEEEE;
	border-radius: 4px;
	padding: 10px;
	text-align: left;
	vertical-align: text-top;
}
*/

table {
	white-space: nowrap;
}

tbody tr:nth-child(odd) {
   background-color: #eee;
}

thead th {
	background-color: #eee;
}

td {
	vertical-align: top;
}

.row_header {
	font-weight: bolder;
}

a:link {
	color: red;	
}

a:visited {
	color: red;	
}

a:hover {
	color: blue;
}

#hoverer {
	color: lime;
    position:fixed;
    top:0;
    left:0;
    background:rgba(25,25,25,0.85);
    z-index:10;
    width:100%;
    height:100%;
    margin:0 auto;
	border-radius:10px;
	opacity: 2;
	display:none;
}

.pre_content {
	overflow:auto;
	height:85%;
	min-height:85%;
}

.visible {
	display:block !important;
}

.status {
	font-weight: bolder;
}
.status.finished {
	color: #44c767;
}

.status.build_error {
	color: red;
}

.automation {
	font-weight: bolder;
}

.automation.automated{
	color: #44c767;
}

.automation.manual{
	color: red;
}

.button {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/*font-family:Arial;*/
	/*font-size:17px;*/
	/*padding:16px 31px;*/
	/*text-decoration:none;*/
	/*text-shadow:0px 1px 0px #2f6627;*/
}

.button:hover {
	background-color:#5cbf2a;
}

.button:active {
	position:relative;
	top:1px;
}

.arrows {
	width: 10px;
	height: 10px;
}

.icon {
	width: 17px;
	height: 17px;
	vertical-align: text-bottom;
}

.pre_data {
	visibility: hidden;
	display: none;
}

.tableHeader {
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
	display: inline;
	padding-right: 30px;
}

hr {
    width: 100% !important;
    padding: 0 !important;
    height: 1px;
    margin: 0;
    position: relative;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}